@import url("colors.css");
@import url("fonts.css");

body {
  color: var(--primary-color);
  font-family: var(--primary-font);
  background-color: var(--primary-bg);
  padding: 0 40px;
}

.btn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-bg);
  border-radius: 5px;
  cursor: pointer;
}

.btn:disabled {
  background-color: var(--secondary-color);
  color: var(--white-color);
  cursor: not-allowed;
}

.caption2 {
  color: var(--white-color);
}

.form-select {
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-bg);
  color: var(--secondary-color);
}

.filter-container {
  display: flex;

  gap: 10px;
}

.img-movie {
  width: 400px;
  min-height: 610px;
  max-height: 610px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.image-container {
  width: 400px;
  min-height: 610px;
  max-height: 610px;
}

.movie-card {
  border: 1px solid white;
  width: 400px;
  height: 720px;
  border-radius: 20px;

  margin-bottom: 40px;
}

.load-more {
  margin-top: 20px;
}
