@import url("colors.css");
@import url("fonts.css");

body {
  color: var(--primary-color);
  font-family: var(--primary-font);
  background-color: var(--primary-bg);
}

.btn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-bg);
  border-radius: 5px;
  cursor: pointer;
}

.btn:disabled {
  background-color: var(--secondary-color);
  color: var(--white-color);
  cursor: not-allowed;
}
